[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
factory-boy = "*"
pytest-django = "*"
freezegun = "*"

[packages]
django = "*"
django-rest-framework = "*"
"psycopg2" = "*"
drf-nested-routers = "*"
django-filter = "*"

[requires]
python_version = "3.5"
